.navigation {
  padding-block: 25px;
}

.navigation-container {
  background-color: #F1F1F1;
  border-radius: 10px;
  padding-inline: 45px;
}

.navigation__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}

.navigation__list {
  padding-left: 5px;
}

.navigation__item {
  line-height: 120%;
}

.navigation__item:not(:last-child) {
  margin-bottom: 10px;
}

.navigation__number {
  color: #02535F;
}

.navigation__link {
  color: #02535F;
  border-bottom: 1px #000 solid;
}