.results__container {
  margin-inline: auto;
  max-width: 1140px;
  background-color: #F1F1F1;
  border-radius: 10px;
  padding-block: 25px;
  padding-inline: 30px 45px;
}

.results__title {
  margin-bottom: 20px;
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
}

.results__list {
  margin-bottom: 30px;
}

.results__item {
  line-height: 120%;
}

.results__item:not(:last-child) {
  margin-bottom: 10px;
}

.results__text {
  line-height: 120%;
}