.soderjanie {
  padding-bottom: 50px;
}

.soderjanie-container {
  margin-inline: auto;
  max-width: 1140px;
  border-radius: 10px;
  background: #F1F1F1;
  padding-block: 25px;
  padding-left: 45px;
}

.soderjanie__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}

.soderjanie__list {
  padding-left: 5px;
}

.soderjanie__item {
  line-height: 120%;
}

.soderjanie__item:not(:last-child) {
  margin-bottom: 10px;
}

.soderjanie__number {
  color: #02535F;
}

.soderjanie__link {
  color: #02535F;
  border-bottom: 1px #000 solid;
}